body {
    font-family: 'Poppins', sans-serif;
    color: #515151;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 16px;
}

table {
    width: 100%;
}

h2 {
    height: 100px;
    border: 1px solid #987284;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia {
    border: 1px solid #987284;
    font-size: 18px;
    font-weight: 600;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid #987284;
    font-size: 16px;
    font-weight: 300;
    padding: 8px;
}