body {
    font-family: 'Poppins', sans-serif;
    color: #515151;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 16px;
}

span {
    color: #515151;
}

button {
    margin: 32px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #515151;
    color: #515151;
    background-color: white;
}

button:hover {
    background-color: #515151;
    color: white;
    transition: 0.7s;
}

form {
    padding: 16px;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
}

label {
    margin: 16px;
    font-size: 18px;
}

input {
    height: 24px;
    margin: 8px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #515151;
}

#botonLogIn {
    background-color: white;
    border: 1px solid #515151;
    padding: 8px;
    color: #515151;
    height: 100%;
}

#botonLogIn:hover {
    background-color: #515151;
    color: white;
    transition: 0.7s;
}

#mensajeBienvenida {
    text-align: center;
}

footer {
    margin-top: 300px;
    text-align: center;
    font-size: 10px;
}