body {
    font-family: 'Poppins', sans-serif;
    color: #515151;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 16px;
}

span {
    color: #515151;
}

button {
    background-color: white;
    border: 0px;
    padding-left: 8px;
    color: #515151;
}
